<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.actf.visualization.eval.checkers">
      <checker
      		infoprovider="org.eclipse.actf.validation.odf.OdfCheckerInfoProvider"
            class="org.eclipse.actf.validation.odf.OdfChecker"/>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.actf.ui.preferences.RootPreferencePage"
            class="org.eclipse.actf.validation.odf.preferences.OdfCheckerPreferencePage"
            id="org.eclipse.actf.validation.odf.preferences.OdfCheckerPreferencePage"
            name="%ODFCheckerPreferencePage.name"/>
   </extension>

   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer class="org.eclipse.actf.validation.odf.preferences.OdfCheckerPreferenceInitializer"/>
   </extension>
</plugin>
