<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         id="org.eclipse.actf.examples.michecker.Application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.eclipse.actf.examples.michecker.Application">
         </run>
      </application>
   </extension>
      <extension
            point="org.eclipse.ui.actionSets">
         <actionSet
               id="org.eclipse.actf.examples.michecker.ui.actionSet"
               label="miCheckerClientActionSet"
               visible="true">
            <action
                  class="org.eclipse.actf.examples.michecker.ui.actions.OpenAction"
                  id="org.eclipse.actf.examples.michecker.ui.actions.OpenAction"
                  definitionId="org.eclipse.actf.examples.michecker.actions.OpenAction"
                  label="%action.open"
                  menubarPath="file/fileGroup"
                  style="push"/>
            <action
                  class="org.eclipse.actf.examples.michecker.ui.actions.OpenSmil"
                  id="org.eclipse.actf.examples.michecker.ui.actions.OpenSmil"
                  label="%action.smil"
                  menubarPath="file/smilGroup"
                  style="push">
            </action>
         </actionSet>
      </extension>
         
   
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.eclipse.actf.examples.michecker.actions.OpenAction"
            name="%action.open"/>
      <command
            id="org.eclipse.actf.visualization.blind.ui.actions.VisualizeAction"
            name="%action.visualize"/>
      <command
            id="org.eclipse.actf.visualization.lowvision.ui.actions.SimulationAction"
            name="%action.lowvision"/>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.eclipse.actf.examples.michecker.actions.OpenAction"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+O"/>
      <key
            commandId="org.eclipse.actf.visualization.blind.ui.actions.VisualizeAction"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+SHIFT+B"/>
      <key
            commandId="org.eclipse.actf.visualization.lowvision.ui.actions.SimulationAction"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+SHIFT+O"/>
   </extension>
   <extension
         id="miChecker"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.actf.examples.michecker.org.eclipse.actf.examples.michecker.Application"
            name="miChecker">
         <property
               name="windowImages"
               value="icons/excla_16.png,icons/excla_32.png">
         </property>
         <property
               name="aboutText"
               value="%About.Text">
         </property>
         <property
               name="aboutImage"
               value="about.gif">
         </property>
         <property
               name="appName"
               value="miChecker">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.viewActions">
      <viewContribution
            id="org.eclipse.actf.examples.michecker.viewContribution1"
            targetID="org.eclipse.actf.visualization.blind.ui.views.BlindView">
         <action
               class="org.eclipse.actf.examples.michecker.ui.actions.OpenW3CValidator"
               icon="icons/view16/html.gif"
               id="org.eclipse.actf.examples.michecker.OpenW3CValidator"
               label="%action.html"
               style="push"
               toolbarPath="addition">
         </action>
      </viewContribution>
   </extension>
   <extension
         point="org.eclipse.ui.views">
         <view
            allowMultiple="false"
            category="org.eclipse.actf.visualization.ui.views"
            class="org.eclipse.actf.examples.michecker.views.CaptionView"
            icon="icons/etool16/caption.gif"
            id="org.eclipse.actf.examples.michecker.views.CaptionView"
            name="%captionView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
		<perspectiveExtension
            targetID="org.eclipse.actf.visualization.ui.perspectives.HTMLPerspective">
         <view
               closeable="false"
               id="org.eclipse.actf.examples.michecker.views.CaptionView"
               relationship="stack"
               relative="org.eclipse.actf.visualization.blind.ui.views.BlindView"
               visible="false">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.actf.model.ui.browserFavorites">
      <favorites
            prefFile="resource/favorites.properties">
      </favorites>
   </extension>
</plugin>
