<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.actf.visualization.eval.checkers">
      <checker
            infoprovider="org.eclipse.actf.validation.html.HtmlCheckerInfoProvider"
            class="org.eclipse.actf.validation.html.Checker"/>
   </extension>
</plugin>
